* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Georgia', serif;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.bg-michi-gradient {
  background: linear-gradient(135deg, rgba(89, 22, 139, 0.30) 0%, rgba(28, 57, 142, 0.30) 100%);
}
